.gad {
  margin: auto auto 1rem;
  width: 75%;
  height: 90px;
}

@media (min-width: 1152px) {
  .gad {
      position: absolute;
      top: 0;
      right: 0;
      width: 12rem;
      padding-top: 70px;
  }
}
