<script src="//cdn.rawgit.com/jquery/jquery/2.1.0/dist/jquery.min.js"></script>
<script src="/public/simple_social_share/simple_social_share.js"></script>
<script src="/public/rng_simple_social_share.js"></script>
<!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=346693555465144";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
