<div class="gad container" style="width:90px; /* border: 1px solid brown */">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:block; height:100%"
       data-ad-client="ca-pub-8132688466869786"
       data-ad-slot="7531126152"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8132688466869786",
      enable_page_level_ads: true
    });
  </script>
</div>
