<div class="gad">
    <style>
        .gad01 {
            display: block;
            margin: 1rem auto;
            width: 80%;
            /*height: 90px;*/
            /*border: 1px solid brown;*/
        }
        
        /*@media(min-width: 74rem) {*/
        /*    .gad01 {*/
        /*        position: absolute;*/
        /*        right: .3rem;*/
        /*        width: 19%;*/
        /*    }*/
        /*}*/
    </style>
    <!-- Home | Top -->
    <ins class="adsbygoogle gad01"
        data-ad-client="ca-pub-8132688466869786"
        data-ad-slot="8324384955"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({})</script>
</div>
