    <div class="hashtags">
    {% if tags %}
        <ul class="tags">
        {% for tag in tags %}
            {% assign PREFIX = tag |slice: 0, 3 %}

            {% if PREFIX == 'fb:' %}
                {% assign fbtag = tag |slice: 3, 4 %}
                <li><a href="https://facebook.com/hashtag/{{ fbtag |downcase }}">
                    #{{ fbtag }}
                </a></li>
            {% else %}
                <li><a href="/hashtag/{{ tag |downcase |slugify  }}">
                    #{{ tag }}
                </a></li>
            {% endif %}
            
       {% endfor %}
       </ul>
    {% endif %}
    </div>
